body {
  margin: 0;
  padding: 0;
}

button {
  width: 160px;
  height: 36px;
  border: none;
  outline: none;
  background-color: #d6d8de;
  border-radius: 3px;

  &:hover {
    background-color: #b8bac1;
  }
}
